<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item" routerLink="" exact routerLinkActive="active"><i class="fas fa-home"></i><span>Home</span></li>
        <li class="menu__item" routerLink="projects" exact routerLinkActive="active"><i class="fa-solid fa-laptop-code"></i><span>Mes projets</span></li>
        <li class="menu__item" routerLink="technos" exact routerLinkActive="active"><i class="fa-solid fa-microchip"></i><span>Mes technos</span></li>
        <li class="menu__item" routerLink="experience" exact routerLinkActive="active"><i class="fa-solid fa-diagram-project"></i><span>Mes expériences</span></li>
    </ul>
</nav>